.about {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
    background-image: radial-gradient(circle closest-corner at 50% 0, rgba(242, 242, 242, 0.15), rgba(0, 0, 0, 0));
}

.aboutMobile {
    display: none;
}

.point {
    width: 10px;
    height: 10px;
    background-color: var(--main-text-color);
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
}

.container {
    width: 882px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 48px;
    position: relative;
}

.cardOutline {
    outline-offset: -1px;
    background-color: rgba(242, 242, 242, 0.04);
    border-radius: 24px;
    outline: 1px solid rgba(242, 242, 242, 0.05);
    align-self: stretch;
    padding: 8px;
    position: relative;
    /* box-shadow: 0 40px 80px rgba(0, 0, 0, .5); */
}

.topLight {
    z-index: 1;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 5%,
        rgba(255, 255, 255, 0.8) 35%,
        #fff 50%,
        rgba(255, 255, 255, 0.8) 65%,
        rgba(0, 0, 0, 0) 95%
    );
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    height: 1px;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.imgur.com/xCorg9F.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
    border-radius: 16px;
}
.card {
    height: 588px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #3d3d3d;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.textContent {
    flex-direction: column;
    padding: 80px 56px 192px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 64px;
}

.title h1 {
    text-align: left;
    letter-spacing: -2px;
    text-shadow: 0 5px 10px rgba(0, 87, 255, 0.15), 0 -5px 10px rgba(255, 90, 0, 0.1),
        0 -5px 25px rgba(255, 255, 255, 0.3);
    font-size: 60px;
    font-weight: 500;
    line-height: 96%;
}

.description h3 {
    color: rgba(242, 242, 242, 0.5);
    font-size: 25px;
    font-weight: 500;
    text-align: right;
}

@media screen and (max-width: 991px) {
    .about {
        align-items: stretch;
        padding-left: 48px;
        padding-right: 48px;
    }
    .container {
        width: auto;
    }
    .card {
        height: auto;
    }
    .textContent {
        gap: 7vw;
        padding: 8vw 5vw 10vw;
    }
    .title h1 {
        font-size: 6.2vw;
    }
    .description h3 {
        font-size: 3vw;
    }
}

@media screen and (max-width: 767px) {
    .about {
        padding-top: 120px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .textContent {
        padding-bottom: 20vw;
    }
}

@media screen and (max-width: 499px) {
    .about {
        display: none;
    }
    .aboutMobile {
        grid-row-gap: 10vh;
        background-image: radial-gradient(
            circle farthest-side at 50% 0,
            rgba(242, 242, 242, 0.25),
            rgba(0, 0, 0, 0) 80%
        );
        flex-direction: column;
        align-items: stretch;
        padding: 20vh 16px 6vh;
        display: flex;
        position: relative;
    }
    .containerMobile {
        z-index: 1;
        grid-row-gap: 6vh;
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
        display: flex;
        position: relative;
    }
    .topMobile {
        z-index: 1;
        grid-row-gap: 3vh;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        position: relative;
    }
    .name {
        grid-column-gap: 12px;
        align-self: flex-start;
        align-items: center;
        display: flex;
    }
    .name h3 {
        color: rgba(242, 242, 242, 0.5);
        font-size: 16px;
        font-weight: 500;
        display: block;
    }
    .title h1 {
        font-size: 8vw;
        line-height: 8vw;
        text-shadow: 0 5px 15px rgba(0, 87, 255, 0.25), 0 -5px 15px rgba(255, 90, 0, 0.2),
            0 0 30px rgba(255, 255, 255, 0.4);
    }
    .description h3 {
        font-size: 5vw;
        font-weight: 500;
        line-height: 140%;
    }
    .bottomMobile {
        z-index: 1;
        align-items: flex-start;
        display: flex;
        position: relative;
    }
    .divider {
        width: 100%;
        height: 1px;
        background-color: rgba(242, 242, 242, 0.1);
        padding-bottom: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1044px;
    }
    .card {
        height: 696px;
    }
    .textContent {
        gap: 80px;
        padding: 96px 72px 200px;
    }
    .title h1 {
        letter-spacing: -1px;
        font-size: 70px;
        font-weight: 600;
    }
    .description h3 {
        font-size: 30px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        width: 1440px;
    }
    .cardOutline {
        border-radius: 36px;
        padding: 12px;
    }
    .card {
        height: 960px;
        border-radius: 24px;
    }
    .textContent {
        padding: 120px 88px 280px;
    }
    .title h1 {
        text-shadow: 0 5px 20px rgba(0, 87, 255, 0.2), 0 -5px 15px rgba(255, 90, 0, 0.15),
            0 0 30px rgba(255, 255, 255, 0.3);
        font-size: 90px;
    }
    .description h3 {
        font-size: 40px;
    }
}
