@font-face {
  font-family: 'Neue Montreal';
  src: url('./assets/NeueMontreal-Regular.otf');
}

:root {
  font-family: 'Neue Montreal', sans-serif;

  color-scheme: light dark;
  color: #F2F2F2;
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
